.container {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.container h1 {
  display: block;
  text-align: center;
  font-size: 3.5rem;
  width: 70%;
  border-bottom: 3px solid white;
}
.box {
  width: 60%;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  background: none;
  color: white;
  width: 20vw;
}
.btn:hover {
  background-color: white;
  color: black;
}
