/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Bhai 2', cursive;
    background-color: rgb(0, 0, 0);
}
/* NAVBAR  */
.logo img{
    display: block;
    height: 40px;
    width: 80px;
    margin-left: 25px;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgb(15, 13, 13);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}
.navbar{
    display: flex;
    align-items: center;
    top: 0px;
    position: sticky;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 5px 2px;
    padding: 4px 10px;
}
.navbar ul li{
    margin: 4px 1px;
    padding: 0px 8px;

}
.food a{
    text-decoration: none;
    display: block;
    color: white;
    margin: 0px 5px;
    padding: 0px 6px;
    font-size: 20px;
    border-radius: 6px;
}
.food a:hover{
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

/* Home Section  */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 310px;
    text-align: center;
    height: 310px;
}
#home::before{
    content: "";
    position: absolute;
    background: url("navbarbg.jfif") no-repeat center center/cover;
    top: 0px;
    height: 364px;
    width: 100%;
    /* border: 2px solid red; */
    z-index: -2;
    opacity: 0.9;

}
#home h1{
    color: white;
    text-align: center;
    font-size: 4.2rem;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 3px 10px black;
}
#home p{
    color: white;
    text-align: center;
    text-shadow: 2px 3px 10px black;
}
#services{
    display: flex;
}
.box{
    border: 2px solid black;
    border-radius: 24px;
    background-color: rgb(231, 231, 231);
    width: 33%;
    margin: 2px 3px;
    padding: 5px;
}
.box img {
    display: block;
    height: 30%;
    width: 50%;
    margin: auto;
}

/* Client Section  */

#client-section{
    height: 254px;
    text-shadow: 2px 3px 10px black;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("bg.jpg") no-repeat center center/cover;
    width: 100%;
    height: 250px;
    z-index: -1;
    opacity: 0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 80px;
    padding: 2px 80px;
}

/* Contact US section */

#contact{
    position: relative;
    text-shadow: 2px 3px 10px black;
}
#contact::before{
    position: absolute;
    content: "";
    background: url("contact1.jpg")no-repeat center center/cover;
    width: 100%;
    height: 540px;
    z-index: -1;
    opacity: 0.6;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 30px;
}
#contact-box label{
    color: whitesmoke;
    text-shadow: 1px 2px 6px black;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    border-radius: 6px;
}
/* Footer  */

footer{
    background-color: black;
    color: white;
    padding: 4px 20px;
}
/* Utility Classes  */

.h-primary{
    font-size: 2.8rem;;
    padding: 12px;
    color: #ffffff;
    font-family: 'Gloria Hallelujah', cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: #ffffff;
    margin: 17px;
    border-radius: 4px;
    cursor: pointer;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
    padding: 1px 9px;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 15px 2px;
    font-family: 'Roboto', sans-serif;
}